* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    min-height: 100vh;
}

header {
    background-color: #0f0e17;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

header h2 {
    color: #fff;
    position: relative;
    top: 20%;
    left: 35%;
}

.nav-links ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    height: 50px;
}

header a {
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .underline {
    position: relative;
}

header .underline::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

header .underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

