* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    min-height: 100vh;
}

header {
    background-color: #0f0e17;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

header ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header li {
    height: 50px;
}

header a {
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #fff;
}

header span {
    position: relative;
}

header span::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

header span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

section {
    display: flex;
    padding-top: 5rem;
    height: 40vh;
}

.heroText{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 50px 25px;
}

.heroImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}